/*  ADD your styles below --- WHERE INDICATED ---
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body {
    background: #607790; /* must change */
    color: #fff; /* may be #000 or #fff */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article {
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete or change */
    background: #3D5B81;
}

/* --- ADD YOUR STYLES BELOW --- */

header {
    background: #C2573E;
}

footer {
    background: #C2573E;
}

aside {
    background: #607790;
}

figure {
    background: #DFFBFC;
}

/* --- add your PSEUDO CLASSES below this line --- */

a:link {
    color: #EE6B4D;
}

a:visited {
    color: #9C2400;
}

a:focus {
    color: #D77E6F;
}

a:hover {
    color: #D68C72;
}

a:active {
    color: #D66B62;
}


footer a:link {
    color: #A1E9F4;
}

footer a:visited {
    color: #1AAEF5;
}

footer a:focus {
    color: #39BEF4;
}

footer a:hover {
    color: #F0F1F2;
}

footer a:active {
    color: #CDF5F5;
}