/*  ADD your styles below --- WHERE INDICATED ---
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body {
    background: #607790; /* must change */
    color: #fff; /* may be #000 or #fff */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article {
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete or change */
    background: #3D5B81;
}

/* --- ADD YOUR STYLES BELOW --- */

header {
    background: #7C3727;
}

footer {
    background: #7C3727;
}

aside {
    background: #607790;
}

figure {
    background: #DFFBFC;
    color: #000;
}

/* --- add your PSEUDO CLASSES below this line --- */

a:link {
    color: #A52312;
}

a:visited {
    color: #9C2400;
}

a:focus {
    color: #0E4848;
}

a:hover {
    color: #B25534;
}

a:active {
    color: #083636;
}


footer a:link {
    color: #A1E9F4;
}

footer a:visited {
    color: #68CAF8;
}

footer a:focus {
    color: #EBC7C1;
}

footer a:hover {
    color: #F0F1F2;
}

footer a:active {
    color: #F5B8AE;
}