/*  ADD your styles below --- WHERE INDICATED ---
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body {
    background: #B699DE; /* must change */
    color: #000; /* may be #000 or #fff */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article {
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete or change */
    background: #E2B5F5
}

aside {
background: #B699DE
}

header {
background: #B9ADFA
}

footer {
  background: #B9ADFA
}

figure {
  background: #DC99DE
}

/* --- ADD YOUR STYLES BELOW --- */

/* --- add your PSEUDO CLASSES below this line --- */

a:link {color: #68006e}
a:visited {color: #390439}
a:focus {color: #06426A}
a:hover {color: #0A0ED6}
a:active {color: #84063C}
